APP_NAME=change_me
PORT=8080
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=12h
DB_HOST=localhost
DB_PORT=3306
DB_NAME=HPlay
DB_USER=change_me
DB_PASSWORD=change_me
INFOMANIAK_CHANNEL_ID=your_channel_id
INFOMANIAK_API_KEY=your_api_key
INFOMANIAK_ALLOWED_DOMAIN=default_domain
INFOMANIAK_TOKEN_DURATION=30
CORS_ORIGIN=change_me
ZAHLS_INSTANCE_ID=change_me
ZAHLS_API_KEY=change_me
ZAHLS_TVA=8.1
PRODUCTION=false